services:

  stock_history:
    build:
      context: .
    env_file:
      - .env
    depends_on:
      db:
          condition: service_healthy

  db:
    image: postgres:14-alpine
    restart: always
    env_file:
      - ./.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --username $${POSTGRES_USER} --dbname $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data: